<div class="modal fade" id="registerDialog" tabindex="-1" role="dialog" aria-labelledby="registerDialogLabell" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Register</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="Text1" placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAvatar" class="col-lg-2 control-label">Profile Picture</label>
                        <div class="col-lg-10">
                            <input type="file" class="form-control" id="inputAvatar" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="Password1" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordConfirm" class="col-lg-2 control-label">Confirm</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" class="btn btn-default" id="btn-register">Register</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>